@font-face {
  font-family: "Josefin Sans";
  src: url("./JosefinSans-Regular.ttf"), url("./JosefinSans-Bold.ttf");
  font-weight: 400 700;
}

:root {
  --font-family-content: "Josefin Sans", ui-sans-serif, system-ui;
  --font-size-content: 1.125rem;
}
